<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Импорт_изображений.Properties.Settings.YachtsConnectionString"
            connectionString="Data Source=DESKTOP-5UL01M0\SQLEXPRESS;Initial Catalog=Yachts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>